@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex: 1;
    font-family: 'Roboto', sans-serif;
}

.header, ul, .hero-cont, .rand, .info, .quote, .action, .action .container, .action .left, .action .right{
    display: flex;
}

/* HERO SECTION */
.hero {
    padding: 0px 270px 70px 270px;
    background-color: #1F2937;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0px;
    gap: 26px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.7;
}

p, ul {
    margin: 0;
}

h1 {
    font-size: 48px;
    margin: 0px;
    color: #F9FAF8;
}

.hero-cont {
    gap: 50px;
    overflow: hidden;
    flex: auto;
}

.des {
    font-size: 18px;
    color: #c9c9c9;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-cont button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0px;
    padding: 8px 35px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
}

.hero img {
    width: 800px;
}

/* RANDOM INFORMATION SECTION */
.rand {
    height: 300px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
}

.rand-head h2 {
    text-align: center;
    margin: 30px;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    margin-bottom: 20px;
}

.rand img {
    width: 292px;
    height: 200px;
    border: 8px solid #89CFF0;
    flex: 1;
    border-radius: 25px;
}

.info {
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.container {
    width: 308px;
    justify-content: center;
}

.container .text {
    text-align: center;
    justify-content: center;
    color: #575757;
    margin-top: 5px;
}

/* QUOTE SECTION */
.quote {
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote .text {
    width: 800px;
}

.quote .citation {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote p {
    text-align: right;
    font-size: 23px;
    font-weight: bold;
}

/* ACTION SECTION */
.action {
    height: 350px;
    justify-content: center;
    align-items: center;
}

.action .container {
    gap: 160px;
}

.action h2, .action p{
    margin: 0;
    color: #F9FAF8;
}

.action p {
    opacity: 0.7;
    font-size: 17px;
}

.action .left {
    flex-direction: column;
    justify-content: center;
}

.action .right {
    align-items: center;
}

.action .container {
    background-color: #3882F6;
    border-radius: 15px;
    width: 1000px;
    height: 150px;
}

.action button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    padding: 8px 35px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
}